name: Check for new ASF Projects

on:
  workflow_dispatch:
  schedule:
    # Every Morning at 11.00am
    - cron: "0 11 * * *"

env:
  REPORT_FILE: "reports/new-asf-projects.md"

jobs:
  generate_report:
    name: Generate Report
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build Gradle Project
        run: ./gradlew installDist -PacceptGradleTOS
      - name: Run API Queries
        run: build/install/new-builds-query/bin/new-builds-query --develocity-url=https://ge.apache.org
        env:
          API_KEY: ${{ secrets.API_KEY }}
          DEVELOCITY_URL: "https://ge.apache.org"
          KNOWN_PROJECTS_FILE: "asf/known-projects.txt"
      - name: Create Job Summary
        run: cat $REPORT_FILE >> $GITHUB_STEP_SUMMARY